.bk {
    padding-left: 10px;
    padding-right: 10px;
     font-size: 16px;
     background-color: #dc3545 !important;
   }

   .custom-box {
    max-width: 100%;
    background-color: #ffffff;
    margin: 20px auto;
    padding: 30px;
    border-radius: 10px;
    animation: fadeInRight 1s ease;
  }
  .ss {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
  }

  .spinner {
  border: 16px solid silver;
  border-top: 16px solid #337AB7;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 700ms linear infinite;
  top:50%;
  left:50%;
  position: absolute;
  z-index: 999;
}
@keyframes spin {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(-360deg) }
}


